.Select {
  line-height: var(--component-height);
  min-height: var(--component-height);
  font: var(--mdb-font-sans-serif);
  font-size: var(--mdb-body-font-size);
  font-weight: var(--mdb-body-font-weight);
  color: var(--mdb-gray-dark);
}

.Select-control {
  line-height: var(--component-height);
  height: var(--component-height);

  font: var(--mdb-font-sans-serif);
  font-size: var(--mdb-body-font-size);
  font-weight: var(--mdb-body-font-weight);
  color: var(--mdb-gray-dark);
}

.Select--single .Select-multi-value-wrapper {
  line-height: var(--component-height);
  height: var(--component-height);
}

.Select-value-label {
  color: var(--mdb-gray-dark);
  line-height: var(--component-height);
  height: var(--component-height);
  font-size: var(--mdb-body-font-size);
}

.Select--multi .Select-value {
  color: var(--mdb-gray-dark);
  line-height: calc(var(--component-height));
  word-wrap: break-word;
  margin-top: 0px;
}

.Select--multi .Select-value-label {
  padding: 0px 6px;
  line-height: calc(var(--component-height));
}

.Select--multi .Select-value-icon {
  padding: 0px 6px;
  line-height: calc(var(--component-height) - 2px);
  height: calc(var(--component-height) - 2px);
  margin-top: 0px;
}

.mantine-pif6vu {
  line-height: 29px;
  min-height: 29px;
  height: 29px;
}

.name-input input {
  border: 1px solid transparent;
  font-size: 30px;
}

.name-input input:hover {
  border: 1px solid lightgray;
}
