:root {
  --component-height: 31px;
  --mdb-body-font-size-large: 18px;
  --mdb-body-font-size: 12px;
  --mdb-body-font-size-small: 8px;
}

.complex_segment .Select-arrow-zone {
  display: None;
}

.complex_segment .Select-control {
  font-size: var(--mdb-body-font-size);
  font-weight: var(--mdb-body-font-weight);
  color: var(--mdb-gray-dark);
  border: 0px;
  background-color: transparent;
}

.complex_segment .Select-menu-outer {
  min-width: 400px;
  white-space: nowrap;
  font-size: var(--mdb-body-font-size);
  color: var(--mdb-gray-dark);
}

.complex_segment .Select-placeholder {
  font-size: var(--mdb-body-font-size);
  font-weight: var(--mdb-body-font-weight);
  color: var(--mdb-gray-dark);
  background-color: transparent;
}

.complex_segment {
  margin-bottom: 5px;
}

.complex_segment .event_name_dropdown.has-value {
  background: rgba(39, 128, 227, 0.2);
}

.complex_segment .simple_segment {
  width: 100%;
  display: flex;
  padding-left: 10px;
}

.complex_segment .simple_segment_with_value {
  width: 100%;
  display: flex;
  padding-left: 10px;
  background: rgba(150, 150, 256, 0.2);
}

.complex_segment .complex_segment_group_by {
  border-top: 1px var(--mdb-gray-100) solid;
}

.complex_segment .complex_segment_group_by.has-value {
  background: rgba(63, 182, 24, 0.1);
}

.property_operator_dropdown {
  min-width: 70px;
}

.property_name_dropdown {
  min-width: 150px;
}

.metric-type-dropdown {
  width: 180px;
  margin-right: 8px;
}

.metric-type-dropdown-option {
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph_container {
  min-height: 450px;
}

.property_name_prefix {
  line-height: var(--mdb-body-font-size);
  font-size: var(--mdb-body-font-size-small);
  height: var(--mdb-body-font-size-small);
}

.Select-value-label .property_name_prefix {
  height: 3px;
}

.property_name {
  font-size: var(--mdb-body-font-size);
}

.spinner-border {
  height: var(--mdb-body-font-size);
  width: var(--mdb-body-font-size);
  border-width: 1px;
}
